.page-login {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;

   .login-card {
      width: 100%;
      max-width: 25em;
      @media (min-width: 600px) {
         width: 50%;
      }
   }
}
